body {
   background: linear-gradient(rgb(173, 247, 242),rgb(21, 170, 255));
   background-repeat: no-repeat;
   min-height: 100vh;
}

h2 {
    font-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    font-family: calibri;
    box-sizing: border-box;
}

.image3{
    width: 500px;
    height: 200px;
	margin: 0px 60px 50px;}

.image2{
    width: auto;
    height: 200px;
	margin: 0px 60px 50px;}

.image1{
    width: auto;
    height: 100px;
    margin: -20px 10px;
}

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2, p {
    line-height: 50px;
}

p {
    text-align: left;
}

span {
    margin: 0 10px
}

.flex-box{
    width: 80%;
    height: auto;
    background: linear-gradient(white,white);
    color: black;
    font-size: 50px;
    text-align: center;
    line-height:200px;
    border-radius: 20px;
    margin: 10px ;
    box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    
}

.flex-box2{
    width: 80%;
    height: auto;
    background: linear-gradient(white,white);
    color: black;
    
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    
}







.item1 {grid-area: header;}
.item2 {grid-area: menu;}
.item3 {grid-area: right;}
.item4 {grid-area: main;}
.item5 {grid-area: footer;}
.item6 {grid-area: prod;}
.item7 {grid-area: conc;}
.item8 {grid-area: tech;}
.item9 {grid-area: voca;}


.grid-container {
   
    display: grid; 
    grid-template-rows: 5em auto auto auto;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas:
     'header header header header'
     'prod conc tech voca'
     'main main main main'
     'footer footer footer footer';
    gap: 10px;
padding: 2.5vw;
}

.item4 {
    grid-area: main;
}

.item5 {
    grid-area: footer;
}

form {
    float:left
}

.button {
    width: 18vw;
    height: 20vh;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vmax;
    margin: 100px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }